/vendor/
/node_modules/
/.env
/.env.*
!/.env.example
/storage/app/public/reports/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/
.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
phpunit.xml
.phpunit.result.cache
*.md
Thumbs.db
.DS_Store
